/*/// ANIMACIONES ///////*/
@keyframes desaparecer {
  from {
    left: -5%;
  }
  to {
    left: 100%;
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Berlin Sans Fb";
}

img {
  max-width: 100%;
}

body {
  background-color: #dad5d5;
  min-height: 100vh;
}

a {
  color: #fff;
  text-decoration: none;
}

.sliderParent {
  width: 100%;
  height: 540px;
  display: flex;
  align-items: center;
  position: relative;
}
.sliderParent .sliderContent {
  overflow: hidden;
  display: flex;
  align-items: center;
  max-height: 100%;
}
.sliderParent .toDir {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 14fr 1fr;
  grid-template-rows: 1fr;
  align-content: center;
}
.sliderParent .toDir i {
  font-size: 4rem;
  color: #fff;
}
.sliderParent .toDir .dir {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sliderParent .toDir .dir:hover {
  background-color: rgba(240, 240, 240, 0.2);
}
.sliderParent .toDir .left {
  grid-column: 1/span 1;
}
.sliderParent .toDir .right {
  grid-column: 3/span 1;
}

.content {
  width: 90%;
  margin: 0 auto;
}

footer {
  background-color: #161616;
  width: 100%;
  display: flex;
}
footer .footContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}
footer .footContent span {
  width: 100%;
  color: #fff;
}

.gridDataItem {
  max-width: 33%;
}

@media screen and (min-width: 850px) {
  .gridDataItem {
    max-width: 25%;
  }
}
.navbar {
  background-color: rgba(23, 31, 70, 0.95);
}
.navbar a:hover {
  color: #fff;
}
.navbar .btn-shop .fas {
  padding: 10px;
}
.navbar .btn-shop .fas:hover {
  background-color: #eb1e1e;
  border-radius: 50%;
  color: #000;
}

/*# sourceMappingURL=estilos.css.map */
