<div class="w-100" id="roooooms">
	<div class="row d-flex justify-content-around flex-wrap">
		{{#each rooms }}
			<div class="mx-1 my-1 gridDataItem">
				<div class="card">
					<img class="card-img-top" src="/public/storage/{{this.imagen}}"></img>
					<div class="card-body">
						<h5 class="card-title">HABITACION {{this.tipoHabitacion.nombre}} <span class="badge badge-dark">S/.{{this.tipoHabitacion.costo1}}</span></h5>
						{{!-- <p class="card-text">Esta Habitacion formada por una cama de ...</p> --}}
						<div class="row">
						</div>
						<div class="row">
							<div class="col-md-6 ">
								<a href="/habitacion/{{this.id}}" class="btn btn-block btn-info">Detalles</a>
							</div>
							<!-- <div class="col-md-6 ">
								<a href="/usuario/carrito/add/{{this.id}}" class="btn btn-block btn-warning">Reservar</a>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		{{/each}}
	</div>
</div>