<div id="carouselExampleControls" class="carousel slide w-100 mx-auto" data-ride="carousel" >
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/public/img/portada_hotel.jpg" class="d-block w-100" alt="">
    </div>
    <div class="carousel-item">
      <img src="/public/img/portada_hotel2.jpg" class="d-block w-100" alt="">
    </div>
    <div class="carousel-item">
      <img src="/public/img/portada_hotel3.jpg" class="d-block w-100" alt="">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>