.navbar{
    background-color: rgba($colorPrimario,.95);
    a{
    	&:hover{
    		color: #fff;
    	}
    }
	.btn-shop{
		.fas{
			padding: 10px;
			&:hover{
				background-color: #eb1e1e; 
				border-radius: 50%;
				color: #000;
			}
		}
	}
}