<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="/public/css/only/estilos.css">
	<link rel="stylesheet" type="text/css" href="/public/css/all.min.css">
	<link rel="shortcut icon" href="/public/img/logo_paris.png" type="image/x-icon"> 
</head>
<body>
	<div class="wrapper">
		
	</div>
</body>
</html>
