.content{
    width: 90%;
    margin: 0 auto;
}
footer{
    background-color: #161616;
    width: 100%;
    display: flex;
    .footContent{
        flex: 1;
        display: flex;
        flex-direction: column;
        span{
            width: 100%;
            color: $colorLetrasEnlaces;
        }
    }
}
.gridDataItem{
    max-width: 33%;
}
@media screen and (min-width:850px){
    .gridDataItem{
        max-width: 25%;
    }
}