<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="/public/css/cliente/estilos.css">
	{{>headers_public}}
</head>

<body>
	<div class="wrapp">
		{{>navs/public}}
		{{#if exitoso}}
		<div class="alert alert-success alert-dismissible fade show w-100 " style="z-index:4;position:absolute;"
			role="alert">
			<strong>{{exitoso}}</strong>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		{{/if}}
		{{#if fallido}}
		<div class="alert alert-danger alert-dismissible fade show w-100 " style="z-index:4;position:absolute;line-height:2rem"
			role="alert">
			<strong>{{fallido}}</strong>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		{{/if}}
		{{{body}}}
		<footer style="width:100%">

			<div class="col-md-6 d-flex flex-column">
				{{#if user}}
					<span class="text-white">footer</span>
				{{ else }}
					<h5><a href="/sistema/login">LOGIN empleados</a></h5>
				{{/if }}
			</div>
			<div class="col-md-6"></div>
		</footer>
	</div>
	{{>scripts_public}}
</body>

</html>
</body>

</html>