<div id="content">
	<form class="creator" action="{{accion}}" method="post">
	    <label for="">id</label><input disabled="disabled" type="text" name="id" id="" value="{{id}}">
	    <label for="">nombre</label><input type="text" name="nombre" id="" value="{{nombre}}" >
	    <input class="btn btn-primary" type="submit" value="Guardar">
	</form>
	{{#if datos}}
	<div class="modelDatosCompletos">
		<div class="modelDatosHeader"><span>ID</span><span>NOMBRE</span><span>CONFIG</span></div>
		{{#each datos}}
			<div class="modelDatosItem">
				<div class="modelDatos" >{{this.id}}</div>
				<div class="modelDatos" >{{this.nombre}}</div>
				<div class="modelDatos" >
					<a class="button btn-edit" href="/sistema/configuracion/estadosEmpleados/{{this.id}}"><i class="fas fa-edit"></i></a>
					<a class="button btn-del" href="/sistema/configuracion/estadosEmpleados/delete/{{this.id}}"><i class="fas fa-trash-alt"></i></a>
				</div>
			</div>
		{{/each}}
	</div>
	{{/if}}
</div>