<div id="content">
	<form class="creator" action="{{accion}}" method="post">
	    <input type="hidden" name="id" value="0{{dato.id}}">
	    <label for="">nombre</label><input type="text" name="nombre" id="" value="{{dato.nombre}}" >
	    <label for="">direccion</label><input type="text" name="direccion" id="" value="{{dato.direccion}}">
	    <label for="">telefono</label><input type="tel" name="telefono" id="" value="{{dato.telefono}}" >
	    <label for="">ruc</label><input type="text" name="ruc" id="" value="{{dato.ruc}}">
	    <label for="">correo</label><input type="email" name="correo" id="" value="{{dato.correo}}" >
	    <label for="">description</label><textarea name="description" id="">{{dato.description}}</textarea>
	    <label for="">pais</label>
        <select name="CIUDAD_PAIS_id" id="selecPais">
            <option value="{{dato.pais.id}}">{{dato.pais.nombre}}</option>
            {{#each paises}}
                <option value="{{this.id}}">{{this.nombre}}</option>
            {{/each}}
        </select>
        <label for="">ciudad</label>
        <select name="CIUDAD_id" id="selecCiudad" >
            <option value="{{dato.ciudad.id}}">{{dato.ciudad.nombre}}</option>
        </select>
	    <label for="">grupo</label><input type="text" name="grupo" id="" value="{{dato.grupo}}" >
	    <input class="btn btn-primary" type="submit" value="Guardar">
	</form>
	{{#if datos}}
	<div class="modelDatosCompletos">
		<div class="modelDatosHeader"><span>ID</span><span>NOMBRE</span><span>CONFIG</span></div>
		{{#each datos}}
			<div class="modelDatosItem">
				<div class="modelDatos">{{this.id}}</div>
				<div class="modelDatos">{{this.nombre}}</div>
				<div class="modelDatos">
					<a class="button btn-edit" href="/sistema/configuracion/hotel/{{this.id}}"><i class="fas fa-edit"></i></a>
					<a class="button btn-del" href="/sistema/configuracion/hotel/delete/{{this.id}}"><i class="fas fa-trash-alt"></i></a>
				</div>
			</div>
		{{/each}}
	</div>
	{{/if}}
</div>
<script>
    $('#selecPais').change(()=>{
        let name = $("#selecPais option:selected").val();
        let datsend = "";
        $.post(`/actions/ciudades/${name}`,(data)=>{
            console.log("ciudades --> " , data);
            for(let i = 0; i < data.length;i++){
                // console.log(i, data[i].nombre);
                datsend += `<option value=\"${data[i].id}\">${data[i].nombre}</option>}`;
            }
            $('#selecCiudad').html(datsend);
        });
    });
</script>