<div id="content">
    <form class="creator" action="{{accion}}" method="post">
        <input type="hidden" name="id" value="0{{dato.id}}">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="{{dato.nombre}}">
        <label for="costo1">Costo1:</label>
        <input type="text" id="costo1" name="costo1" value="{{dato.costo1}}">
        <label for="costo2">Costo2:</label>
        <input type="text" id="costo2" name="costo2" value="{{dato.costo2}}">
        <label for="costo3">Costo3:</label>
        <input type="text" id="costo3" name="costo3" value="{{dato.costo3}}">
        <label for="costo4">Costo4:</label>
        <input type="text" id="costo4" name="costo4" value="{{dato.costo4}}">
        <input class="btn btn-primary" type="submit" value="Guardar">
    </form>
    {{#if datos}}
    <div class="modelDatosCompletos">
        <div class="modelDatosHeader">
        	<span>#</span>
        	<span>NOMBRE</span>
        	<span>CONFIG</span>
        </div>
        {{!-- <div class="modelDatosHeader"></div>
        <div class="modelDatosHeader"></div> --}}
        {{#each datos}}
            <div class="modelDatosItem">
                <div class="modelDatos">{{this.id}}</div>
                <div class="modelDatos">{{this.nombre}}</div>
                <div class="modelDatos">
                    <a class="button btn-edit" href="/sistema/configuracion/tipoHabitacion/{{this.id}}"><i class="fas fa-edit"></i></a>
                    <a class="button btn-del" href="/sistema/configuracion/tipoHabitacion/delete/{{this.id}}"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
        {{/each}}
    </div>
    {{/if}}
</div>
