<div id="navPrincipal">
    <ul>
        {{#if tipoUsuario.exist}}
            <li><a href="/sistema/">{{ tipoUsuario.nombre }}</a></li>
            <li><a href="/sistema/inventario">Gestion Producto</a>
            <li><a href="/sistema/inventario/add">Ingresar Producto</a></li>
            <li><a href="/sistema/inventario/filtar/all">Editar Producto</a></li>
            <li><a href="/sistema/inventario/filtrar/all">Eliminar Producto</a></li>
            </li>
        {{else if tipoExterno}}
            <li><a href="/usuario/">Inicio</a></li>
            <li><a href="/usuario/reservar">Reservas</a></li>
            <li><a href="/usuario/servicios">Servicios</a></li>
            <li><a href="/usuario/salir">Salir</a></li>
        {{/if}}
    </ul>
</div>