<div id="navPrincipal">
    <ul>
        {{#if tipoUsuario.exist}}
            <li><a href="/sistema/">{{ tipoUsuario.nombre }}</a></li>
            <li><a href="/sistema/habitaciones">Habitaciones</a></li>
            <li><a href="/sistema/reservacion">Reservaciones</a>
                <ul>
                    <li><a href="/sistema/reservacion/add">Nueva Reservacion</a></li>
                    <li><a href="/sistema/reservacion/filtar/all">Editar Reservacion</a></li>
                    <li><a href="/sistema/reservacion/filtrar/all">Cancelar Reservacion</a></li>
                    <li><a href="/sistema/reservacion/check-in">Check-In</a></li>
                    <li><a href="/sistema/reservacion/check-out">Check-out</a></li>
                </ul>
            </li>
            <li><a href="/">Salir</a></li>
    
        {{else if tipoExterno}}
            <li><a href="/usuario/">Inicio</a></li>
            <li><a href="/usuario/reservar">Reservas</a></li>
            <li><a href="/usuario/servicios">Servicios</a></li>
            <li><a href="/usuario/salir">Salir</a></li>
        {{/if}}
    </ul>
</div>