<div id="navPrincipal">
    <ul>
        {{#if tipoUsuario.exist}}
            <li><a href="/sistema/">{{ tipoUsuario.nombre }}</a></li>
            <li><a href="/sistema/empleados">Empleados</a>
                <ul>
                    <li><a href="/sistema/empleados/add">Nuevo Empleado</a></li>
                    <li><a href="/sistema/empleados/filtar/all">Editar Empleado</a></li>
                    <li><a href="/sistema/empleados/filtrar/all">Eliminar Empleado</a></li>
                </ul>
            </li>
            <li><a href="">Configuraciones</a>
                <ul>
                    <li><a href="">Tipos de Datos</a>
                        <ul>
                            <li><a href="/sistema/configuracion/tipoEmpleado">Tipo Empleado</a></li>
                            <li><a href="/sistema/configuracion/estadosEmpleados">Estados de Empleados</a></li>
                        </ul>
                    </li>
                    <li><a href="/">Salir</a></li>
                </ul>
            </li>
    
        {{else if tipoExterno}}
            <li><a href="/usuario/">Inicio</a></li>
            <li><a href="/usuario/reservar">Reservas</a></li>
            <li><a href="/usuario/servicios">Servicios</a></li>
            <li><a href="/usuario/salir">Salir</a></li>
        {{/if}}
    </ul>
</div>