/*/// ANIMACIONES ///////*/
@-webkit-keyframes desaparecer {
  from {
    left: -5%;
  }
  to {
    left: 100%;
    display: none;
  }
}
@keyframes desaparecer {
  from {
    left: -5%;
  }
  to {
    left: 100%;
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Berlin Sans Fb";
}

img {
  max-width: 100%;
}

body {
  background-color: #dad5d5;
  min-height: 100vh;
}

a {
  color: #fff;
  text-decoration: none;
}

#capaSola {
  width: 100%;
  max-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
}

#capaSola .error {
  position: absolute;
  width: 71.42857%;
  background-color: #4C4C4C;
  padding: 1.5%;
  z-index: 3;
  left: 28.57143%;
}

#capaSola .error span {
  color: #fff;
}

#capaSola .lateral {
  height: 100vh;
  background-color: #171f46;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 1;
  grid-row: 1;
  z-index: 1;
  -webkit-box-shadow: 12px 0 70px 30px black;
          box-shadow: 12px 0 70px 30px black;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#capaSola .lateral .fa-sign-out-alt {
  position: absolute;
  top: 2%;
  left: 5%;
  font-size: 2rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  color: #70f5bb;
}

#capaSola .lateral .logo {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#capaSola .lateral .logo .logoSec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9%;
  border: 3px solid #70f5bb;
  border-radius: 50%;
}

#capaSola .lateral .logo .logoSec .fa-user {
  font-size: 6rem;
  color: #70f5bb;
}

#capaSola .lateral .logo .title {
  margin: 3% auto;
  font-size: 3rem;
  color: #70f5bb;
  font-family: "Berlin Sans Fb";
  font-weight: bold;
}

#capaSola .lateral .to-in {
  color: #fff;
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#capaSola .lateral .contenido {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#capaSola .lateral .contenido .button {
  width: 80%;
  line-height: 2.5rem;
  background-color: #20295e;
  color: #70f5bb;
  font-family: "Berlin Sans Fb";
  font-size: 1.1rem;
  text-align: center;
  border-radius: 15px;
  margin: 5% auto;
}

#capaSola .lateral .contenido .button:hover {
  background-color: #263171;
}

#capaSola .lateral .contenido .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  height: 60%;
}

#capaSola .lateral .contenido .form .input {
  line-height: 2.5rem;
  border-radius: 13px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  color: #70f5bb;
  border: 2px solid #70f5bb;
  text-align: center;
  font-family: "Berlin Sans Fb";
  margin: 5% 0;
  background-color: #171f46;
}

#capaSola .lateral .contenido .form .btn-submit {
  line-height: 2.5rem;
  background-color: #20295e;
  color: #70f5bb;
  font-family: "Berlin Sans Fb";
  font-size: 1.1rem;
  text-align: center;
  border-radius: 15px;
  cursor: normal;
}

#capaSola .lateral .contenido .form .btn-submit:hover {
  background-color: #263171;
}

#capaSola .centradoImage {
  background-image: url("../../img/portada_hotel.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / span 6;
  -ms-grid-row: 1;
  grid-row: 1;
  z-index: -2;
}
/*# sourceMappingURL=estilos.css.map */