@import "../variables";
@import "../reset";
#capaSola{
    width: 100%;
    max-height: 100vh;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    position: relative;
    // .alert{
    //     position: absolute;
    //     // width: unquote((100/7)*5+'%');
    //     // padding: 1.5%;
    //     // z-index: 3;
    //     // left: unquote((100/7)*2+'%');
    //     // animation: desaparecer .6s 2s;
    // }
    .lateral{
        // width: 40%;
        height: 100vh;
        background-color: $colorPrimario;
        grid-column: 1 / span 2;
        grid-row: 1;
        z-index: 1;
        box-shadow: 12px 0 70px 30px black;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .fa-sign-out-alt{
            position: absolute;
            bottom: 2%;
            left: 5%;
            font-size: 2rem;
            transform: rotate(180deg);
            color: $colorLetrasBut;
        }
        .logo{
            width: 100%;
            // height: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 5%;
            .logoPrin{
                // background-color: #f00;
            }
            .logoSec{
                // background-color: #f00;
                display: flex;
                justify-content: center;
                align-items: center;
                // padding: 9%;
                // border: 3px solid $colorLetrasBut;
                // border-radius: 50%;
                .fa-user{
                    font-size: 6rem;
                    color: $colorLetrasBut;
                }
                // img{
                //     margin: 0 auto;
                //     width: 80%;
                // }
            }
            .title{
                margin: 3% auto;
                font-size: 3rem;
                color: $colorLetrasBut;
                font-family: $fuentePrincipal;
                font-weight: bold;
            }
        }
        .to-in{
            color: #fff;
            font-size: 3rem;
            display: flex;
            width: 70%;
            justify-content: space-around;
        }
        .contenido{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 75%;
            // justify-content: space-between;
            .button{
                width: 80%;
                @include btn-forms($colorSecundario,$colorLetrasBut);
                margin: 5% auto;
                // @include button($colorLetrasBut);
            }
            /////VISTAS INGRESO Y REGISTRO
            .form{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 90%;
                .form-group{
                    display: flex;
                }
                .input{
                    // line-height: 2.5rem;
                    // font-size: 1.5rem;
                    width: 75%;
                    @include input-forms($colorLetrasBut,$colorPrimario);
                }
                .btn-submit{
                    width: 75%;
                    @include btn-forms($colorSecundario,$colorLetrasBut);
                    cursor: normal;
                    // border: .4px solid $colorLetrasBut;
                }
            }
        }
    }
    .centradoImage{
        &:before{
            content: '';
            background-image: url('../../img/portada_hotel.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            z-index: 3;
            top: 0;
            left: 0;
            position: absolute;
            min-height: 100%;
            transform: rotateY(180deg);
        }
        width: 100%;
        min-height: 100vh;
        overflow:hidden;
        grid-column: 2 / span 6;
        grid-row: 1;
        z-index: -2;
    }
}