<div class="pt-3 row mx-4 justify-content-around">
    {{!-- <div class="col-md-6"> --}}
    <h1 class="display-5 col-md-12">MIS RESERVAS</h1>
    {{#each detalles}}
    <div class="card col-md-3 mx-1 mb-3">
        <img src="/public/storage/{{ this.habitacion.imagen }}" class="card-img"
            alt="{{ this.habitacion.tipoHabitacion.nombre }}" />
        <div class="card-body">
            <h5 class="card-title">{{ this.habitacion.tipoHabitacion.nombre }}</h5>
            <div class="row">
                <div class="col-sm-6">
                    <span>Fecha Inicio</span>
                </div>
                <div class="col-sm-1">
                    <span>:</span>
                </div>
                <div class="col-sm-4">
                    <span>{{ this.fecha_inicio }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <span>Fecha Fin</span>
                </div>
                <div class="col-sm-1">
                    <span>:</span>
                </div>
                <div class="col-sm-4">
                    <span>{{ this.fecha_fin }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <span>Dias</span>
                </div>
                <div class="col-sm-1">
                    <span>:</span>
                </div>
                <div class="col-sm-4">
                    <span>{{ this.dias }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <span>Precio x Dia</span>
                </div>
                <div class="col-sm-1">
                    <span>:</span>
                </div>
                <div class="col-sm-4">
                    <span>S/.{{ this.habitacion.tipoHabitacion.costo1 }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <span>SubTotal</span>
                </div>
                <div class="col-sm-1">
                    <span>:</span>
                </div>
                <div class="col-sm-4">
                    <span>S/.{{ this.subTotal }}</span>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    {{!-- </div> --}}
</div>