/*/// ANIMACIONES ///////*/
@keyframes desaparecer {
  from {
    left: -5%;
  }
  to {
    left: 100%;
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Berlin Sans Fb";
}

img {
  max-width: 100%;
}

body {
  background-color: #dad5d5;
  min-height: 100vh;
}

a {
  color: #fff;
  text-decoration: none;
}

#capaSola {
  width: 100%;
  max-height: 100vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  position: relative;
}
#capaSola .lateral {
  height: 100vh;
  background-color: #171f46;
  grid-column: 1/span 2;
  grid-row: 1;
  z-index: 1;
  box-shadow: 12px 0 70px 30px black;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#capaSola .lateral .fa-sign-out-alt {
  position: absolute;
  bottom: 2%;
  left: 5%;
  font-size: 2rem;
  transform: rotate(180deg);
  color: #70f5bb;
}
#capaSola .lateral .logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}
#capaSola .lateral .logo .logoSec {
  display: flex;
  justify-content: center;
  align-items: center;
}
#capaSola .lateral .logo .logoSec .fa-user {
  font-size: 6rem;
  color: #70f5bb;
}
#capaSola .lateral .logo .title {
  margin: 3% auto;
  font-size: 3rem;
  color: #70f5bb;
  font-family: "Berlin Sans Fb";
  font-weight: bold;
}
#capaSola .lateral .to-in {
  color: #fff;
  font-size: 3rem;
  display: flex;
  width: 70%;
  justify-content: space-around;
}
#capaSola .lateral .contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}
#capaSola .lateral .contenido .button {
  width: 80%;
  line-height: 2.5rem;
  background-color: #242e69;
  color: #70f5bb;
  font-family: "Berlin Sans Fb";
  font-size: 1.1rem;
  text-align: center;
  border-radius: 15px;
  margin: 0 auto;
  margin: 5% auto;
}
#capaSola .lateral .contenido .button:hover {
  background-color: #263171;
}
#capaSola .lateral .contenido .form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
}
#capaSola .lateral .contenido .form .form-group {
  display: flex;
}
#capaSola .lateral .contenido .form .input {
  width: 75%;
  line-height: 2.5rem;
  border-radius: 13px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  color: #70f5bb;
  border: 2px solid #70f5bb;
  text-align: center;
  font-family: "Berlin Sans Fb";
  margin: 5% auto;
  background-color: #171f46;
}
#capaSola .lateral .contenido .form .btn-submit {
  width: 75%;
  line-height: 2.5rem;
  background-color: #242e69;
  color: #70f5bb;
  font-family: "Berlin Sans Fb";
  font-size: 1.1rem;
  text-align: center;
  border-radius: 15px;
  margin: 0 auto;
  cursor: normal;
}
#capaSola .lateral .contenido .form .btn-submit:hover {
  background-color: #263171;
}
#capaSola .centradoImage {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  grid-column: 2/span 6;
  grid-row: 1;
  z-index: -2;
}
#capaSola .centradoImage:before {
  content: "";
  background-image: url("../../img/portada_hotel.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  z-index: 3;
  top: 0;
  left: 0;
  position: absolute;
  min-height: 100%;
  transform: rotateY(180deg);
}

/*# sourceMappingURL=estilos.css.map */
