{{!-- {{>blocks/slider}} --}}
<div class="container py-2">
    <div class="row">
        <div class="col-md-6">
            <img src="/public/storage/{{ room.imagen }}" alt="">
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>{{ room.tipoHabitacion.nombre}}</h4>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Reservación</h4>
                    <form action="/usuario/carrito/add" method="POST">
                        <input type="hidden" name="habitacion_id" value="{{ room.id }}">
                        <div class="form-group row">
                            <label for="fecha_inicio" class="col-sm-3 col-form-label">Fecha Inicio </label>
                            <div class="col-sm-7">
                                <input type="date" class="form-control" name="fecha_inicio" min="" id="fecha_inicio" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="fecha_fin" class="col-sm-3 col-form-label">Fecha Fin </label>
                            <div class="col-sm-7">
                                <input type="date" class="form-control" name="fecha_fin" min="" id="fecha_fin" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="fecha_fin" class="col-sm-3 col-form-label">Precio x Dia </label>
                            <div class="col-sm-7">
                                <span>S/.{{ room.tipoHabitacion.costo1 }}</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-info">Reservar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-muted">
                    Footer
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let current_datetime = new Date();
    let formatted_date = current_datetime.getFullYear() + "-0" + (current_datetime.getMonth() + 1) + "-" + current_datetime.getDate();
    $(document).ready(()=>{
        $('#fecha_inicio').attr('min',formatted_date);
        $('#fecha_fin').attr('min',formatted_date);
    });
</script>