// .gridData{
// 	display: flex;
// 	margin: 0 auto;
// 	.gridDataContent{
// 		display: grid;
// 		grid-template-columns: 1fr 1fr 1fr 1fr;
// 		grid-auto-rows: 1fr; 
// 		grid-gap: 30px;
// 		.card{
// 			.btn{
// 				// background-color: $colorPrimario;
// 			}
// 		}	
// 	}
// }