#modalBusqueda{
	width: 100%;
	height: 100vh;
	position: absolute;
	background-color: rgba(#A2A2A2,.7); 
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	.modal{
		width: 75%;
		height: 80%;
		background-color: darken(#a2a2a2,10);
	}
}