*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: $fuentePrincipal;
}
img{
    max-width: 100%;
}
body{
    background-color: rgb(218, 213, 213);
    min-height: 100vh;
}
a {
    color: $colorLetrasEnlaces;
    text-decoration: none;
}