<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/public/bootstrap-4.3.1-dist/css_boot/bootstrap.min.css">
<!-- ICONOS DE LA WEB -->
	<link rel="shortcut icon" href="/public/img/logo_paris.png" type="image/x-icon"> 
	<!-- ESTILOS DE LA WEB Y FONT AWESOME -->
    <link rel="stylesheet" type="text/css" href="/public/css/all.min.css">
    <!-- JQUERY -->
    <!--<script type="text/javascript" src="/public/js/jquery-3.4.1.min.js"></script>-->
    <!--<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>-->
    <link rel="stylesheet" type="text/css" href="/public/bootstrap-4.3.1-dist/css_boot/bootstrap.min.css">
    <script type="text/javascript" src="/public/js/jquery-3.4.1.min.js"></script>
    <script src="/public/js/moment/moment.js"></script>

    <!-- THEMAS DE BOOTSTRAP -->
    <!-- Favicon icon -->
    <!--<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">-->
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <!-- waves.css -->
    <link rel="stylesheet" href="/public/pages/waves/css/waves.min.css" type="text/css" media="all">
    <!-- Required Fremwork -->
    <!--<link rel="stylesheet" type="text/css" href="/public/css/bootstrap/css/bootstrap.min.css">-->
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="/public/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="/public/icon/icofont/css/icofont.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="/public/icon/font-awesome/css/font-awesome.min.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link rel="stylesheet" type="text/css" href="/public/css/jquery.mCustomScrollbar.css">