<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/public/bootstrap-4.3.1-dist/css_boot/bootstrap.min.css">
<!-- ICONOS DE LA WEB -->
	<link rel="shortcut icon" href="/public/img/logo_paris.png" type="image/x-icon"> 
	<!-- ESTILOS DE LA WEB Y FONT AWESOME -->
    <link rel="stylesheet" type="text/css" href="/public/css/all.min.css">
    <!-- JQUERY -->
    <!--<script type="text/javascript" src="/public/js/jquery-3.4.1.min.js"></script>-->
    <!--<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>-->
    <link rel="stylesheet" type="text/css" href="/public/bootstrap-4.3.1-dist/css_boot/bootstrap.min.css">
    <script type="text/javascript" src="/public/js/jquery-3.4.1.min.js"></script>
    <script src="/public/js/moment/moment.js"></script>