{{!-- BOOTSTRAP JS --}}
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	{{!-- jQUERY --}}
	
	<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
-->
	<!---
	

	-->
	<script type="text/javascript" src="/public/bootstrap-4.3.1-dist/js_boot/bootstrap.min.js"></script>
	<script type="text/javascript" src="/public/js/customise.js"></script>
    <script type="text/javascript" src="/public/js/jsPDF-1.3.2/dist/jspdf.debug.js"></script>
	{{!-- THEMAS DE BOOTSTRAP --}}
	{{!-- <script type="text/javascript" src="assets/js/jquery/jquery.min.js "></script> --}}
    <script type="text/javascript" src="/public/js/jquery-ui/jquery-ui.min.js "></script>
    <script type="text/javascript" src="/public/js/popper.js/popper.min.js"></script>
    {{!-- <script type="text/javascript" src="/public/js/bootstrap/js/bootstrap.min.js "></script> --}}
    <!-- waves js -->
    <script src="/public/pages/waves/js/waves.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="/public/js/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Custom js -->
    <script src="/public/js/pcoded.min.js"></script>
    <script src="/public/js/vertical/vertical-layout.min.js"></script>
    <script src="/public/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="/public/js/script.js"></script>