{{>blocks/slider}}
<div class="content py-2">
	<h3>Nuestras Habitaciones</h3>
	{{>blocks/gridData}}
	<!-- Button trigger modal -->
	<button type="button" class="btn btn-primary btn-lg" onclick="user('INGRESE SU NOMBRE')" data-toggle="modal"
		data-target="#modelId">
		SOPORTE
	</button>
	<div class="modal fade align-items-center" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
		aria-hidden="true">
		<div class="card w-50 mx-auto">
			<div class="card-header d-flex " style="justify-content: space-between;">
				<h5 class="text-center">COMUNIQUESE CON SOPORTE</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-12">
						<ul id="messages">

						</ul>
					</div>
				</div>
				<div class="row">
					<span class="text-muted" id="user_w"></span>
					<form id="form">
						<input id="input" autocomplete="off" /><button>Enviar</button>
						<div class="custom-file">
							<input type="file" id="imageFile" class="custom-file-input" id="customFile">
							<label class="custom-file-label" for="customFile">Choose file</label>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$('#exampleModal').on('show.bs.modal', event => {
		var button = $(event.relatedTarget);
		var modal = $(this);
		// Use above variables to manipulate the DOM

	});
</script>
<script>
	var p = "";
	function user(msg) {
		p = prompt(msg, "");
		if (p != "") {
			socket.emit("user_conn", p);
		}
	}
	let adios = () => {
		socket.emit("chao", p);
	};
</script>
<script src="/socket.io/socket.io.js"></script>
<script>
	var socket = io();

	var form = document.getElementById("form");
	var input = document.getElementById("input");
	form.addEventListener("submit", function (e) {
		e.preventDefault();
		if (input.value) {
			socket.emit("chat message", `<b>${p}</b> : ${input.value}`);
			input.value = "";
		}
	});
	input.addEventListener("keypress", function (e) {
		if (input.value) {
			console.log("...gggg");
			socket.emit("user_writing", p + ", está escribiendo un mensaje...");
		}
	});

	socket.on("chat message", function (msg) {
		var item = document.createElement("li");
		if (msg.tipo === 1) {
			item.innerHTML = msg.contenido;
			messages.appendChild(item);
		} else {
			item.innerHTML = `<img src="/${msg.contenido}" width="150" height="150">`;
		}
		window.scrollTo(0, document.body.scrollHeight);
	});
	socket.on("user_writing", function (msg) {
		uw = document.getElementById("user_w");
		uw.innerHTML = msg;
		setTimeout(() => {
			uw.innerHTML = "";
		}, 1000);
	});
	socket.on("chao", (msg) => {
		Alert("Usuario Desconectado");
	});
	socket.on("addimage", function (msg, base64image) {
		$("#messages").append(
			$("<li>").append(
				$("<b>").text(msg),
				'<a target="_blank" href="' +
				base64image +
				'"><img src="' +
				base64image +
				'"/></a>'
			)
		);
	});
	$("#imageFile").on("change", function (e) {
		var file = e.originalEvent.target.files[0];
		var reader = new FileReader();
		reader.onload = function (evt) {
			//Enviamos la imagen al server
			socket.emit("user_image", evt.target.result);
		};
		reader.readAsDataURL(file);
	});
</script>