<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="/public/css/only/estilos.css">
	<link rel="stylesheet" type="text/css" href="/public/css/cliente/estilos.css">
	{{>headers}}
	<script type="text/javascript">
	if($('.error')){
		setTimeout(()=>{
			$('.error').fadeOut(800);
		},4000);
	}
	</script>
</head>
<body style="position:relative">
	{{#if fallido}}
		<div class="alert alert-secondary alert-dismissible fade show w-100 " style="z-index:4;position:absolute;" role="alert">
		  	<strong>{{fallido}}</strong>
		  	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    		<span aria-hidden="true">&times;</span>
		  	</button>
		</div>
	{{/if}}
	<div id="capaSola">
		<div class="lateral">
			<a href="/">
				<i class="fas fa-sign-out-alt"></i>
			</a>		    
			<div class="logo">
		    	<div class="logoSec">
		    		<img src="/public/img/logo_paris.png">
                    {{!-- <img src="{{logo}}"> --}}
                </div>
		    	<span class="title">{{head}}</span>
		    </div>

		    <div class="contenido">
		    	<form class="form" action="{{sistema}}/login" method="POST">
		    		<div class="form-group">
		    			<input class="input" type="text" name="documento" placeholder="Documento" required>
		    		</div>
		    		<div class="form-group">
		    			<input class="input" type="password" name="password" placeholder="Contraseña" required>
		    		</div>
		    		<input class="btn-submit" type="submit" value="Ingresar">
		    	</form>
		    </div>
		</div>
		<div class="centradoImage" >
			{{!-- <img src="/public/img/portada_hotel.jpg" alt=""> --}}
			
		</div>	
	</div>
	{{>scripts}}
</body>
</html>
