<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="public/css/sistema.css">
    <title>{{title}}</title>
</head>
<body>
    <h3>{{head}}</h3>
    <form action="/usuario/ingresar" method="post">
        <input type="text" name="user">
        <input type="password" name="password">
        <input type="submit">
    </form>
</body>
</html>